<nav class="navigationbar">
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="915733896108-03kb0m46abmrm4qq59vvu650rp86fulm.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <% include adminPopupChat.ejs %>
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home </a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-plane"></span> Quick Actions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if(users) {%><li><a href="/add-ticket"><font color="black">Add a new ticket to the system</font></a></li><% } %>
            <li class="divider"></li>
            <li><a href="https://www.google.com/maps"><font color="black">Open Google Maps</font></a></li>
          </ul>
      </li>
    </ul>
    <a href="/"><img src="logo.png" class="logo"/></a>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbarleft">
        <% if(users == false) {%><li class="navbarright">
        <a href="/register"><span class="glyphicon glyphicon-registration-mark"></span> Register </a>
      </li>
      <li>
        <a href="/login"><span class="glyphicon glyphicon-user"></span> Log in</a>
      </li> <%} else {%>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-send"></span> Chatbox <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if(users) {%><li><a href="/"><font color="black">Direct Chat</font></a></li><% } %>
            <li><a href="/chat"><font color="black"> Group Chat</font></a></li>
            <li><a onclick="openForm()" ><font color="black">Chat with Admin</font></a></li>
            <li><a class="open-button" onclick="openForm()"><font color="black">Chat with Admin</font></a></li>
          </ul>
      </li>
      <li>
        <% if(user_name) {%>
          <a href="/profile"><span class="glyphicon glyphicon-user"></span> <%=user_name%>'s profile </a>
        <%} else {%>
          <a href="/profile"><span class="glyphicon glyphicon-user"></span> My profile </a>
          <% } %>
      </li>
      <li>
		<script>
		onLoad();
		function signOut() {
		  var auth2 = gapi.auth2.getAuthInstance();
		  auth2.signOut().then(function () {
			console.log('User signed out.');
		  });
		}

		function onLoad() {
		  console.log("loading nav")
		  gapi.load('auth2', function() {
			gapi.auth2.init();
		  });
		}
		</script>
        <a href="/logout" onclick="signOut();"><span class="glyphicon glyphicon-remove-sign"></span> Log Out </a>
      </li>
      <% } %>
      <li>
        <button class="popupButton" onclick="openCard()"><img src="InfoIcon.png" class="infoIcon" ></button>
        <div class="popupCard" id="popupCard">
          <h2>SkyPal</h2>
          <p>SkyPal is aservice that can help you find companions while traveling</p>
          <button type="button" class="closeBtn" onclick="closeCard()">Close</button>
        </div>
      </li>
    </ul>
  </div>
  <style>

    .dropdown li a {
      color: black;
    }
    .nav.navbar-nav li a {
      color: #6e9997;
    }
    .navigationbar {
      position: relative;
      background-color: #1b3b63;

    }
    .logo {
      float: left;
      margin-left: -20vw;
      z-index: 1;
      position: relative;
      height: 3vw;
      width: 3vw;
    }
    th: 3vw;
    }
    .popupButton{
      border: none;
    }
    .infoIcon{
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
    }
    .popupCard{
      display: none;
      position: fixed;
      top: 50px;
      right: 15px;
      border: none;
      border-radius: 15px;
      background-color:rgba(27,59,99, 0.5);
      z-index: 9;
    }
  </style>
  <script>
    function openCard() {
      document.getElementById("popupCard").style.display = "block";
    }

    function closeCard() {
      document.getElementById("popupCard").style.display = "none";
    }
  </script>
</nav>
