<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home </a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-plane"></span> Quick Actions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if(users) {%><li><a href="/add-ticket">Add a new ticket to the system</a></li><% } %>
            <li class="divider"></li>
            <li><a href="https://www.google.com/maps">Open Google Maps</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-left">
        <% if(users == false) {%><li class="navbar-right">
        <a href="/register"><span class="glyphicon glyphicon-registration-mark"></span> Register </a>
      </li>
      <li>
        <a href="/login"><span class="glyphicon glyphicon-user"></span> Log in</a>
      </li> <%} else {%>
      <li>
        <a href="/logout"><span class="glyphicon glyphicon-registration-mark"></span> Log Out </a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
