<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home </a>
      </li>
      <li>
        <a href="https://skypal.herokuapp.com/login"><span class="glyphicon glyphicon-user"></span> Login</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-plane"></span> Quick Actions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://skypal.herokuapp.com/add-ticket.html">Add a new ticket to the system</a></li>
            <li class="divider"></li>
            <li><a href="https://www.google.com/maps">Open Google Maps</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://skypal.herokuapp.com/register.html"><span class="glyphicon glyphicon-registration-mark"></span> Register </a>
      </li>
    </ul>
  </div>
</nav>
