<nav class="navigationbar">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home </a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-plane"></span> Quick Actions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if(users) {%><li><a href="/add-ticket"><font color="black">Add a new ticket to the system</font></a></li><% } %>
            <li class="divider"></li>
            <li><a href="https://www.google.com/maps"><font color="black">Open Google Maps</font></a></li>
          </ul>
      </li>
    </ul>
    <a href="/"><img src="logo.png" class="logo"/></a>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbarleft">
        <% if(users == false) {%><li class="navbarright">
        <a href="/register"><span class="glyphicon glyphicon-registration-mark"></span> Register </a>
      </li>
      <li>
        <a href="/login"><span class="glyphicon glyphicon-user"></span> Log in</a>
      </li> <%} else {%>
      <li>
        <a href="/chat"><span class="glyphicon glyphicon-send"></span> Chatbox </a>
      </li>
      <li>
        <a href="/profile"><span class="glyphicon glyphicon-user"></span> My profile </a>
      </li>
      <li>
        <a href="/logout"><span class="glyphicon glyphicon-remove-sign"></span> Log Out </a>
      </li>
      <% } %>
      <li>
        <button class="popupButton" onclick="openCard()"><img src="InfoIcon.png" class="infoIcon" ></button>
        <div class="popupCard" id="popupCard">
          <h2>SkyPal</h2>
          <p>SkyPal is aservice that can help you find companions while traveling</p>
          <button type="button" class="closeBtn" onclick="closeCard()">Close</button>
        </div>
      </li>
    </ul>
  </div>
  <style>

    .dropdown li a {
      color: black;
    }
    .nav.navbar-nav li a {
      color: #6e9997;
    }
    .navigationbar {
      background-color: #1b3b63;

    }
    .logo {
      float: left;
      margin-left: -20vw;
      z-index: 1;
      position: relative;
      height: 3vw;
      width: 3vw;
    }
    th: 3vw;
    }
    .popupButton{
      border: none;
    }
    .infoIcon{
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
    }
    .popupCard{
      display: none;
      position: fixed;
      top: 50px;
      right: 15px;
      border: none;
      border-radius: 15px;
      background-color:rgba(27,59,99, 0.5);
      z-index: 9;
    }
  </style>
  <script>
    function openCard() {
      document.getElementById("popupCard").style.display = "block";
    }

    function closeCard() {
      document.getElementById("popupCard").style.display = "none";
    }
  </script>
</nav>
