<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="login.css">
		<script src="login.js" defer></script>
		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="722594744836-fhbq1q3bhe76d688fgok6qr4bocsokdo.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
	</head>
	
	<body>
		<div class="container">
			<div class="helper">
				<div class="prompt">
					
					<div class="signup">
						<form action="">
							<h2 style="font-family:sans-serif;">Signup</h2>
							<h3 style="font-family:sans-serif; font-style:italic;">Don't have an account?</h3>
							<button name="submit" value="submit"><a href="register.html">Signup</a></button>
						</form>
					</div>
					<div class="separator"></div>					
					<div class="login">
						<form class="data" action="/login" method="post">
							<h2 style="font-family:sans-serif;">Login</h2>
							<h3 style="font-family:sans-serif;">Username:</h3>
							<input type="text" name="username" value=""/>
							<h3 style="font-family:sans-serif;">Password:</h3>
							<input type="password" name="password" value=""/><br>
							<button name="submit" value="submit">Submit</button>
						</form>
						<h3 style="font-family:sans-serif; font-style:italic;">or...</h3>
						<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
					</div>
					<script>
					  function onSignIn(googleUser) {
						var email = googleUser.getBasicProfile().getEmail();
					  }
					</script>					
				</div>
			</div>
		</div>
	</body>
</html>
