<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="login.css">
		<script src="login.js" defer></script>
		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="722594744836-bm0270bl5rkjsmpelu3t2d4di9fdqlf0.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
	</head>
	
	<body>
		<div class="container">
			<div class="helper">
				<div class="prompt">
					
					<div class="signup">
						<form action="">
							<h2 style="font-family:sans-serif;">Signup</h2>
							<h3 style="font-family:sans-serif; font-style:italic;">Don't have an account?</h3>
							<button name="submit" value="submit">Signup</button>
						</form>
					</div>
					<div class="separator"></div>					
					<div class="login">
						<form class="data" action="/login" method="post">
							<h2 style="font-family:sans-serif;">Login</h2>
							<h3 style="font-family:sans-serif;">Username:</h3>
							<input type="text" name="username" value=""/>
							<h3 style="font-family:sans-serif;">Password:</h3>
							<input type="password" name="password" value=""/><br>
							<button name="submit" value="submit">Submit</button>
						</form>
						<h3 style="font-family:sans-serif; font-style:italic;">or...</h3>
						<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
					</div>
					<script>
					  function onSignIn(googleUser) {
						// Useful data for your client-side scripts:
						var profile = googleUser.getBasicProfile();
						//console.log("ID: " + profile.getId()); // Don't send this directly to your server!
						//console.log('Full Name: ' + profile.getName());
						//console.log('Given Name: ' + profile.getGivenName());
						//console.log('Family Name: ' + profile.getFamilyName());
						//console.log("Image URL: " + profile.getImageUrl());
						console.log("Email: " + profile.getEmail());
						const u = <%=user%>;
						console.log(typeof u);
						// The ID token you need to pass to your backend:
						//var id_token = googleUser.getAuthResponse().id_token;
						//console.log("ID Token: " + id_token);
					  }
					</script>
					
					<% if (typeof user == 'string') { %>
						<text><%=user%></text>
					<%}%>
					
				</div>
			</div>
		</div>
	</body>
</html>
