<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header.ejs %>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="./stylesheets/login.css">
		<script src="login.js" defer></script>
		<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="915733896108-03kb0m46abmrm4qq59vvu650rp86fulm.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
	</head>

	<body>
		<% include partials/nav.ejs %>
		<img src="loginBG.jpeg" alt="background" class="bg" />
		<div class="containers">
			<div class="helper">
				<div class="prompt">

					<div class="signup">
						<form action="">
							<h2 style="font-family:sans-serif;">Sign Up</h2>
							<h3 style="font-family:sans-serif; font-style:italic;">Don't have an account?</h3>
							<a href="https://docs.google.com/document/u/0/"><button name="signup" value="signup">Sign Up</button></a>
							<br>
							<br>
							<br>
							<hr>
							<h3 style="font-family:sans-serif; font-style:italic;">or...</h3>
							<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
						</form>
					</div>
					<div class="separator"></div>
					<div class="login">
						<form class="data" action="/login" method="post">
							<h2 style="font-family:sans-serif;">Log in</h2>
							<h3 style="font-family:sans-serif;">Username:</h3>
							<input type="text" name="username" value="" required/>
							<h3 style="font-family:sans-serif;">Password:</h3>
							<input type="password" name="password" value="" required />
							<br>
							<br>
							<label><input class="remem" type="checkbox" id="remember" name="remember" placeholder="Remember me" checked>Remember me</label>
							<button name="submit" value="submit">Sign in</button>
						</form>
					</div>
					<script>
					function onSignIn(googleUser) {
						/*var profile = googleUser.getBasicProfile();
						console.log("Email: " + profile.getEmail());*/
						
						var id_token = googleUser.getAuthResponse().id_token;
						/*
						var xhr = new XMLHttpRequest();
						xhr.open('POST', '/googlelogin');
						xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
						xhr.onload = function() {
						  console.log('Signed in as: ' + xhr.responseText);
						};
						xhr.send('idtoken=' + id_token);						
						*/
						
						/*
						*/
						var number = {
							'token' : id_token
						}/*
						var xhr = new window.XMLHttpRequest()
						xhr.open('POST', '/googlelogin', true)
						xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
						xhr.send(JSON.stringify(number))
						
						*/
						
						
						console.log("starting post");
						
						const xhr = new XMLHttpRequest()
						xhr.open('POST', '/googlelogin', true)
						xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8')
						xhr.onload = function () {
							var responseOBJ = JSON.parse(this.responseText);
							console.log(responseOBJ);
							
							var baseUrl = window.location.origin
							window.location.replace('/googlelogin:' + c + '&:' + r);
						}
						
						
						xhr.send(JSON.stringify(number))
					}
					</script>
				</div>
			</div>
		</div>
		<p class="citation">Photo by Oleksandr Pidvalnyi on Pexels</p>
	</body>
</html>
