html,body{height: 100%; width:100%; margin: 0;}


.profile{

  background-color:#DEF5F4;
  width: 300px;
  padding-left:20px;
  margin: 32px;
  border: 1px solid #ACF1EC;
  float: left;


}

.UserName{
background-color:#DEF5F4;
}
