input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

img.logo {
  height: 12%;
  width: 12%;
  border-radius: 50%;
  position: relative;
  left: 80vw;
  background-color: white;
  border: 7px solid #AAAAAA;
}

button[name="submit"]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[name="submit"]:hover {
    background-color: #45a049;
}

button[name="redirect"]{
    background-color: #f2f2f2;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.6;
}

button[name="redirect"]:hover {
    background-color: #ffffff;
}

div[name="form"] {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Comic Sans MS;
    opacity: 0.8;
    width: 80%;
    margin: auto;
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

@media screen and (max-width: 1024px){
    img.bg {
    left: 50%;
    margin-left: -512px; }
}

h1 {
    text-align: center;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    text-decoration: blink;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    line-height: 0.5px;
    color: #ffffff;
    background-color: #ffffff;
}

.citation{
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -4;
}
