.jumbotron {
  background: rgba(230, 230, 230, 0.3);
  color: white;
  padding-bottom: 10px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #46c1bb; }
  .jumbotron p {
    color: Black;
    max-width: 75%;
    margin: 1em auto 2em; }
  .wrapper {
      text-align: center;
      position:relative;
      margin-top:10%;
  }
  .navbar + .jumbotron {
    margin-top: -40px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
