img.bg {
		    min-height: 100%;
		    min-width: 1024px;
		    width: 100%;
		    height: auto;
		    position: fixed;
		    top: 0;
		    left: 0;
		    z-index: -5;
		}

		@media screen and (max-width: 1024px){
		    img.bg {
		    left: 50%;
		    margin-left: -512px; }
		}

fieldset{
  background-color: lightgrey;
  border: none;
  width: 400px;
  margin:auto;
  margin-top: 200px;
}
h2{
  font-size-adjust: auto;
  font-family: "Lato";
}
button{
  background-color: grey;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
.Uname{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.password{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.citation{
  color: lightgrey;
  position: fixed;
  bottom: 0;
  right: 0;
}
