html, body { height: 100%; width: 100%; margin: 0; }

.container {
    display: table;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.helper {
    display: table-cell;
    vertical-align: middle;
}

.prompt {
    margin: 0 auto;
	width:900px;
	height:600px;
	border: 2px solid #e1e5eb;
	border-radius:25px;
}

.data {
	margin:0 auto;
}

.separator {
	margin: 0 20px;
	float:left;
	height:80%;
	background-color:lightgrey;
	width:2px;
}

.login, .signup {
	margin: 25px;
	text-align: middle;
	float:left;
}

button {
	height:40x;
	background-color:royalblue;
	box-shadow:3px 1px 2px grey;
	color: white;
	padding: 15px 32px;
	text-align: center;
	border:none;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

a{
	text-decoration: none;
	color: white;
}

a:visited {
  color: white;
}

input {
	height:30px;
}