<!DOCTYPE html>

<html>

<head>
  <% include ../partials/header.ejs %>
  <meta charset="UTF-8"/>
  <style media="screen">
  body {
  margin: 0;
  margin-top: 0;
  height: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  }
  /*section 1*/
  .WelcomeSection {
  background-image:url("Main-pageBG.jpg");
  height: 1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  }
  h1{
    margin-top: 0;
    font-size: 50pt;
  	font-family: "Lato";
  	color: rgba(230, 230, 230, 0.7);
    padding-top: 200px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px grey;
  }
  button {
  margin-left: 42vw;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-size: 36pt;
  margin-top: 50vh;
}

button:hover {background: #eee;}
/*section 2*/
.topMargin{
  padding-top: 250px;
}
.TicketSearch{
  background-image: url("SearchBG.jpg");
  height: 1000px;
  background-position: center;
  background-size: cover;
  border: none;
}
.TransparentBar{
  margin: auto;
  background-image: linear-gradient(rgba(200, 200, 200, 0.5), rgba(165, 156, 109, 0.7));
  border: none;
  border-radius: 15px;
  height: 150px;
  width: 1000px;
}
.topLeftLbl{
  color: rgb(32, 49, 10);
  font-size: 22pt;
  font-style: bold;
  box-sizing: border-box;
}
::placeholder{
  color: white;
}
.MedInput{
  margin-top: 20px;
  width: 90%;
  box-sizing: border-box;
  background-color: rgba(68, 95, 31, 0.5);
  border-radius: 8px;
  border: none;
  height: 50px;
  text-align: center;
  font-size: 12pt;
  color: white;
}
.inpuGrp{
  float: left;
  margin-left: 50px;
}
.avatar{
  margin-top: 30px;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
}
.slider{
  overflow: auto;
  white-space: nowrap;
}
.InfoCard{
  display: inline-block;

  background-image: linear-gradient(rgba(43, 100, 100, 0.5), rgba(255, 255, 255, 0.3), rgba(65, 95, 31, 0.7));
  text-align: center;
  border-radius: 15px;
  width: 210px;
  height: 450px;
  margin: auto;
  margin-top: 100px;
  margin-left: 50px;

  font-size: 14pt;
  color: white;
  padding:20px;
  float: left;
}
.DynamicSubmitBtn{
  background-color: rgba(20, 52, 71, 0.7);
  margin: bottom;
  width: 210px;
  height: 40px;
  border-radius: 15px;
  color: rgba(240, 217, 230, 1);
}
  </style>
</head>
<body>
  <% include ../partials/nav.ejs %>
  <section class="WelcomeSection">
    <h1>Welcome to SkyPal</h1>
    <a href="#ticketsearch"><button type="button" name="button">Start your journey</button></a>
    <a href="/chat"><button name="chatbutton">Chat with other users</button></a>
  </section>

  <section class="TicketSearch">
    <div class="topMargin">
      <fieldset class="TransparentBar">
        <form action="/" method="post" >
          <p class="inpuGrp">
          <label class="topLeftLbl">From</label>
          <select type="text" name="origin" class="MedInput" placeholder="City or town">
    	      <option value="france">France</option>
    	      <option value="canada">Canada</option>
    	      <option value="usa">USA</option>
    	    </select>
          </p>
          <p class="inpuGrp">
          <label class="topLeftLbl">To</label>
          <select type="text" name="destination" class="MedInput" placeholder="City or town">
    	      <option value="france">France</option>
    	      <option value="canada">Canada</option>
    	      <option value="usa">USA</option>
    	    </select>
          </p>
          <p class="inpuGrp">
          <label class="topLeftLbl">DepartureDate</label>
          <input type="date" name="date" class="MedInput" placeholder="date">
          </p>
          <button type="submit" name="submit"><h2>submit </h2></button>
        </form>

      </fieldset>
    </div>

    <%for (i=0; i < n.length; i++){ %>
					<% m = n[i];%>
    <!-- slider for differernt cards -->
    <div id="ticketsearch" class="Slider">
      <div >
        <div class="InfoCard">
          <img src="empty-avatar.png" alt="avatar" class="avatar">
          <p><%=m.fname%></p>
          <p>I'm a Cheff at a good resturant</p> <br>
          <p>Flying First Class via <%=m.airline%></p>
        </div>
        <div class="DynamicSubmitBtn">
          <p>book a flight with <%=m.fname%></p>
        </div>
      </div>
      <% } %>
<!--
      <div >
        <div class="InfoCard">
          <img src="empty-avatar.png" alt="avatar" class="avatar">
          <p>Alex</p>
          <p>I'm a scrum master at work on the 276 project for ever and ever and ever ...</p> <br>
          <p>Flying First Class via Air Canada</p>
        </div>
        <div class="DynamicSubmitBtn">
          <p>book a flight with Alex</p>
        </div>
      </div>

      <div >
        <div class="InfoCard">
          <img src="empty-avatar.png" alt="avatar" class="avatar">
          <p>Alex</p>
          <p>I'm a scrum master at work on the 276 project for ever and ever and ever ...</p> <br>
          <p>Flying First Class via Air Canada</p>
        </div>
        <div class="DynamicSubmitBtn">
          <p>book a flight with Alex</p>
        </div>
      </div>
    </div>
-->
  </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/BezierPlugin.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
</body>
</html>
